.category{
    background-color: rgb(25, 39, 41);
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;

}
.category h1{
    color: rgb(96, 223, 159);
    font-size: 20px;
}
.categorydiv h1{
    color:rgb(96, 223, 159) ;
}
.category p{
    color:white ;
}


.categoryitems{
    text-align: center;
    max-width: 200px;
    color: white;
    font-size: 12px;
}
.categoryitems img{
    max-width: 100%;
    width: 30%;
    height: auto;
}
.CategorySection{
    display: flex;
    flex: 1;
    justify-content: center;
}